Repository lisentowind/vue-element-plus-x-shiki-monaco: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx oxlint --fix

.lintstagedrc:

{
  "**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx}": ["prettier --write", "npx oxlint --fix"],
  "**/*.{json,md,yml,yaml}": "prettier --write"
}

build(core): 将项目版本号更新到 0.1.0
  packages/core/package.json
Due: prettier --write

feat(docs): 添加在线预览链接
  apps/docs/docusaurus.config.ts
Due: prettier --write, npx oxlint --fix

feat(docs): 在导航栏添加在线预览链接
  apps/docs/i18n/en/docusaurus-theme-classic/navbar.json
Due: prettier --write

feat(core): 添加 useContextMenu 钩子
  packages/core/src/hooks.ts
Due: prettier --write, npx oxlint --fix

fix: 优化打包内容
  .gitignore
  .vscode/settings.json
  packages/core/package.json
  packages/core/src/components.ts
  packages/core/src/components/ContextMenu/index.vue
  packages/core/src/components/ContextMenu/types.ts
  packages/core/src/components/Monaco-Header/index.vue
  packages/core/src/components/Monaco-Header/type.ts
  packages/core/src/components/Monaco/index.vue
  packages/core/src/components/Monaco/types.ts
  packages/core/src/index.ts
  packages/core/tsconfig.tsbuildinfo
  packages/core/types/components.d.ts
  packages/core/types/components/ContextMenu/index.vue.d.ts
  packages/core/types/components/Monaco-Header/index.vue.d.ts
  packages/core/types/components/Monaco/index.vue.d.ts
  packages/core/types/hooks.d.ts
  packages/core/types/hooks/index.d.ts
  packages/core/types/hooks/useContextMenu/editorMenu.d.ts
  packages/core/types/hooks/useContextMenu/index.d.ts
  packages/core/types/hooks/useMonacoEdit/index.d.ts
  packages/core/types/index.d.ts
  packages/core/types/stories/Monaco/Monaco.stories.d.ts
  packages/core/types/stories/Monaco/index.vue.d.ts
  pnpm-lock.yaml
Due: prettier --write, npx oxlint --fix

build(core): 添加 monaco-editor-core 和 shiki 依赖
  pnpm-lock.yaml
Due: prettier --write

build(core): 更新项目版本号
  packages/core/package.json
Due: prettier --write

refactor(core): 优化右键菜单显示位置超出编辑器的问题
  packages/core/eslint.config.mjs
  packages/core/src/components/ContextMenu/index.scss
  packages/core/src/components/ContextMenu/index.vue
  packages/core/src/components/ContextMenu/types.ts
  packages/core/src/components/Monaco/index.vue
  packages/core/src/components/Monaco/types.ts
  packages/core/src/hooks/useContextMenu/index.ts
Due: prettier --write, npx oxlint --fix

refactor(core): 重构编辑器主题系统并引入暗色主题
  packages/core/src/assets/style/global.scss
  packages/core/src/components/ContextMenu/index.scss
  packages/core/src/components/Monaco-Header/index.scss
  packages/core/src/components/Monaco-Header/index.vue
  packages/core/src/components/Monaco/index.scss
Due: none

feat(docs): 添加上下文菜单挂载目标配置
  apps/docs/docs/api.md
  apps/docs/i18n/en/docusaurus-plugin-content-docs/current/api.md
  apps/docs/package.json
Due: prettier --write

feat(core): 新增MonacoDiff 组件
  packages/core/src/components/Monaco-Diff/index.scss
  packages/core/src/components/Monaco-Diff/index.vue
  packages/core/src/components/Monaco-Diff/types.ts
  packages/core/src/components/Monaco-Header/index.scss
  packages/core/src/components/Monaco-Header/index.vue
  packages/core/src/components/Monaco/index.vue
  packages/core/src/hooks.ts
  packages/core/src/hooks/index.ts
  packages/core/src/hooks/useContextMenu/editorMenu.ts
  packages/core/src/hooks/useMonacoDiffEdit/index.ts
  packages/core/src/stories/Monaco-diff/Monaco-diff.stories.ts
  packages/core/src/stories/Monaco-diff/diff-edit.vue
Due: prettier --write, npx oxlint --fix

refactor(core): 优化代码结构和类型定义
  packages/core/src/hooks/index.ts
  packages/core/src/hooks/useMonacoDiffEdit/index.ts
Due: prettier --write, npx oxlint --fix

feat(core): 添加 MonacoDiff 组件并优化相关功能
  packages/core/src/components.ts
  packages/core/src/components/Monaco-Diff/index.vue
  packages/core/src/components/Monaco/index.vue
  packages/core/src/hooks/useMonacoDiffEdit/index.ts
  packages/core/src/index.ts
  packages/core/src/types/global.d.ts
  packages/core/tsconfig.json
  packages/core/tsconfig.tsbuildinfo
Due: prettier --write, npx oxlint --fix

refactor(context-menu): 重构右键菜单显示逻辑
  packages/core/src/components/Monaco-Diff/index.vue
  packages/core/src/components/Monaco/index.vue
  packages/core/src/hooks/useContextMenu/index.ts
  packages/core/src/stories/Monaco-diff/diff-edit.vue
Due: prettier --write, npx oxlint --fix

feat(docs): 新增 MonacoDiff 组件和 useContextMenu Hook 文档
  apps/docs/docs/api.md
  apps/docs/i18n/en/docusaurus-plugin-content-docs/current/api.md
  packages/core/package.json
  packages/core/src/types/global.d.ts
  packages/core/tsconfig.tsbuildinfo
Due: prettier --write, npx oxlint --fix

refactor(Monaco-diff): 移除 Diff 组件中的冗余 Monaco 组件
  packages/core/src/stories/Monaco-diff/diff-edit.vue
Due: none

Update README.md
  README.md
Due: prettier --write

feat(core): 添加部分 React hooks 支持并升级 Vue 版本
  packages/core/.build/filter.ts
  packages/core/package.json
  packages/core/src/hooks/index.ts
  packages/core/src/hooks/useContextMenu/core.ts
  packages/core/src/hooks/useContextMenu/index.ts
  packages/core/src/hooks/useContextMenu/react.ts
  packages/core/src/hooks/useContextMenu/vue.ts
  packages/core/src/stories/Monaco-diff/Monaco-diff.stories.ts
  packages/core/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Due: prettier --write, npx oxlint --fix

build(core): 更新依赖项并调整组件导出
  packages/core/.build/filter.ts
  packages/core/package.json
  packages/core/tsconfig.tsbuildinfo
Due: prettier --write, npx oxlint --fix

build(core): 更新版本号至 0.1.4
  packages/core/package.json
Due: prettier --write

feat: 更新文件
  pnpm-lock.yaml
Due: prettier --write

feat: 新增文件夹功能（初版）
  .gitignore
  .vscode/settings.json
  packages/core/package.json
  packages/core/src/assets/style/global.scss
  packages/core/src/components/FolderTree/index.scss
  packages/core/src/components/FolderTree/index.vue
  packages/core/src/components/FolderTree/types.ts
  packages/core/src/hooks/useFolder/core.ts
  packages/core/src/hooks/useFolder/index.ts
  packages/core/src/hooks/useFolder/react.ts
  packages/core/src/hooks/useFolder/vue.ts
  packages/core/src/index.ts
  packages/core/src/stories/FolderTree/FolderTree.stories.ts
  packages/core/src/stories/FolderTree/data.ts
  packages/core/src/stories/FolderTree/index.vue
  pnpm-lock.yaml
Due: prettier --write, npx oxlint --fix

style(core): 优化 Monaco 组件代码格式
  packages/core/src/components/FullEditor/index.scss
  packages/core/src/components/FullEditor/index.vue
  packages/core/src/components/FullEditor/types.ts
  packages/core/src/components/Monaco/index.vue
  packages/core/src/stories/FullEditor/FullEditor.advanced.stories.ts
  packages/core/src/stories/FullEditor/FullEditor.stories.ts
  packages/core/src/stories/FullEditor/demo.vue
Due: prettier --write, npx oxlint --fix

feat: 优化大文件夹加载文件和优化样式
  packages/core/src/components/FullEditor/index.scss
  packages/core/src/components/FullEditor/index.vue
  packages/core/src/hooks/useFolder/index.ts
  packages/core/src/hooks/useFolder/lazyFolder.ts
  packages/core/src/hooks/useFolder/lazyVue.ts
Due: prettier --write, npx oxlint --fix

refactor(core): 重构核心组件并优化文件夹阅读功能
  packages/core/src/components.ts
  packages/core/src/components/FolderTree/index.vue
  packages/core/src/components/FullEditor/index.scss
  packages/core/src/components/FullEditor/index.vue
  packages/core/src/hooks/useFolder/core.ts
  packages/core/src/index.ts
  packages/core/src/stories/FullEditor/FullEditor.advanced.stories.ts
  packages/core/src/stories/FullEditor/FullEditor.stories.ts
  packages/core/src/stories/FullEditor/demo.vue
  packages/core/tsconfig.tsbuildinfo
Due: prettier --write, npx oxlint --fix

feat(core): 增加对 dts、indexvuedts 和 vuedts 文件类型的图标支持
  .vscode/settings.json
  packages/core/src/components/FolderTree/index.vue
  packages/core/src/components/FullEditor/index.vue
  packages/core/src/hooks/useFolder/lazyFolder.ts
Due: prettier --write, npx oxlint --fix
