Repository lisentowind/vue-element-plus-x-shiki-monaco: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx oxlint --fix

build(core): 重构组件和 Hooks 的自动导出逻辑
  packages/core/.build/scripts/auto-export-all-components.ts
  packages/core/.build/scripts/generate-types.ts
  packages/core/USAGE.md
  packages/core/package.json
  packages/core/rolldown.config.ts
  packages/core/src/components-only.ts
  packages/core/src/components.ts
  packages/core/src/hooks-only.ts
  packages/core/src/hooks.ts
  packages/core/src/hooks/index.ts
  packages/core/src/index.ts
  packages/core/tsconfig.types.json
  packages/core/types/components.d.ts
  packages/core/types/components/Monaco/index.d.ts
  packages/core/types/components/Monaco/install.d.ts
  packages/core/types/components/index.d.ts
  packages/core/types/hooks.d.ts
  packages/core/types/hooks/index.d.ts
  packages/core/types/hooks/useMonacoEdit/index.d.ts
  packages/core/types/index.d.ts
  pnpm-lock.yaml
Due: prettier --write, npx oxlint --fix

refactor(core): 优化类型生成和组件导出脚本
  packages/core/.build/scripts/auto-export-all-components.ts
  packages/core/.build/scripts/generate-types.ts
Due: prettier --write, npx oxlint --fix

build(core): 重构构建流程并优化类型定义
  .vscode/settings.json
  packages/core/.build/build.ts
  packages/core/.build/plugins/dts.ts
  packages/core/.build/plugins/index.ts
  packages/core/.build/scripts/auto-export-all-components.ts
  packages/core/.build/scripts/generate-types.ts
  packages/core/package.json
  packages/core/rolldown.config.ts
  packages/core/src/components.ts
  packages/core/src/components/Monaco/index.vue
  packages/core/src/index.ts
  packages/core/tsconfig.app.json
  packages/core/tsconfig.tsbuildinfo
  packages/core/types/components.d.ts
  packages/core/types/components/Monaco/index.d.ts
  packages/core/types/components/Monaco/index.vue.d.ts
  packages/core/types/components/Monaco/install.d.ts
  packages/core/types/components/index.d.ts
  packages/core/types/hooks.d.ts
  packages/core/types/hooks/index.d.ts
  packages/core/types/hooks/useMonacoEdit/index.d.ts
  packages/core/types/index.d.ts
  packages/core/types/stories/Monaco/Monaco.stories.d.ts
  packages/core/types/stories/Monaco/index.vue.d.ts
  packages/core/vite.config.ts
  packages/core/vite.config.umd.ts
  packages/tsconfig/base.tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, npx oxlint --fix

refactor(core): 移除 Monaco 组件的单独安装功能
  packages/core/src/components/Monaco/install.ts
  packages/core/src/components/index.ts
  packages/core/tsconfig.tsbuildinfo
  packages/core/types/components/Monaco/install.d.ts
  packages/core/types/components/index.d.ts
Due: prettier --write, npx oxlint --fix

docs(core): 完善 API 文档并添加使用示例
  apps/docs/docs/api.md
  apps/docs/docs/examples.md
  apps/docs/docs/getting-started.md
  packages/core/.build/build.ts
  packages/core/.build/filter.ts
  packages/core/.build/plugins/index.ts
  packages/core/.oxlintrc.json
  packages/core/package.json
  packages/core/src/components/Monaco/index.vue
  packages/core/src/stories/Monaco/Monaco.stories.ts
  packages/core/src/stories/Monaco/index.vue
  packages/core/vite.config.umd.ts
  pnpm-lock.yaml
Due: prettier --write, npx oxlint --fix

feat(core): 优化 Monaco 编辑器功能和样式
  example-theme-switch.vue
  packages/core/src/components/Monaco/index.scss
  packages/core/src/components/Monaco/index.vue
  packages/core/src/hooks/useMonacoEdit/index.ts
  packages/core/src/stories/Monaco/Monaco.stories.ts
  packages/core/types/components/Monaco/index.vue.d.ts
Due: prettier --write, npx oxlint --fix

refactor: 重命名项目并更新相关引用
  .changeset/config.json
  I18N_FIX_SUMMARY.md
  README.md
  apps/docs/docs/api.md
  apps/docs/docs/examples.md
  apps/docs/docs/getting-started.md
  apps/docs/docs/intro.md
  apps/docs/docusaurus.config.ts
  apps/docs/i18n/zh-Hans/docusaurus-theme-classic/footer.json
  apps/docs/package.json
  example-theme-switch.vue
  package.json
  packages/core/.build/build.ts
  packages/core/.build/plugins/index.ts
  packages/core/.build/scripts/auto-export-all-components.ts
  packages/core/.storybook/manager.ts
  packages/core/USAGE.md
  packages/core/package.json
  packages/core/src/components.ts
  packages/core/src/index.ts
  packages/core/tsconfig.json
  packages/core/tsconfig.tsbuildinfo
  packages/core/types/components/Monaco/index.vue.d.ts
  packages/core/types/hooks/useMonacoEdit/index.d.ts
  packages/core/types/index.d.ts
  packages/core/types/stories/Monaco/Monaco.stories.d.ts
  packages/core/vite.config.umd.ts
  packages/tsconfig/package.json
  pnpm-lock.yaml
Due: prettier --write, npx oxlint --fix

refactor(core): 重命名核心包并更新相关文档
  .changeset/config.json
  apps/docs/docs/api.md
  apps/docs/docs/examples.md
  apps/docs/docs/getting-started.md
  apps/docs/docs/intro.md
  apps/docs/docusaurus.config.ts
  apps/docs/i18n/zh-Hans/docusaurus-theme-classic/footer.json
  apps/docs/i18n/zh-Hans/docusaurus-theme-classic/navbar.json
  package.json
  packages/core/USAGE.md
  packages/core/package.json
Due: prettier --write, npx oxlint --fix

build(core): 更新 package.json 信息
  packages/core/README.md
  packages/core/package.json
Due: prettier --write

refactor(core): 重构 Monaco 组件
  packages/core/src/assets/style/global.scss
  packages/core/src/components/Monaco-Header/index.scss
  packages/core/src/components/Monaco-Header/index.vue
  packages/core/src/components/Monaco/index.scss
  packages/core/src/components/Monaco/index.vue
  packages/core/src/components/index.ts
  packages/core/src/stories/Monaco/index.vue
Due: prettier --write, npx oxlint --fix

style(core): 重构编辑器工具栏样式并优化主题变量
  packages/core/src/assets/style/global.scss
  packages/core/src/components/Monaco-Header/index.scss
  packages/core/src/components/Monaco/index.scss
  packages/core/src/stories/Monaco/index.vue
Due: none

feat(core): 为 Monaco 编辑器添加自定义右键菜单功能
  packages/core/.oxlintrc.json
  packages/core/src/assets/style/global.scss
  packages/core/src/components/ContextMenu/index.scss
  packages/core/src/components/ContextMenu/index.vue
  packages/core/src/components/Monaco/index.vue
  packages/core/src/components/index.ts
  packages/core/src/hooks/index.ts
  packages/core/src/hooks/useContextMenu/editorMenu.ts
  packages/core/src/hooks/useContextMenu/index.ts
  packages/core/src/hooks/useMonacoEdit/index.ts
Due: prettier --write, npx oxlint --fix

feat(core): 优化 Monaco 编辑器的复制、剪切和粘贴功能
  packages/core/src/components/Monaco-Header/index.vue
  packages/core/src/components/Monaco/index.vue
  packages/core/src/hooks/useContextMenu/editorMenu.ts
Due: prettier --write, npx oxlint --fix

feat(docs): 丰富 API 文档并添加新功能
  apps/docs/docs/api.md
  apps/docs/docs/examples.md
  apps/docs/docs/getting-started.md
Due: prettier --write

feat(core): 更新组件导出方式并添加新组件
  packages/core/package.json
  packages/core/src/components.ts
  packages/core/src/components/Monaco-Header/index.vue
  packages/core/src/components/Monaco/index.vue
  packages/core/src/components/index.ts
  packages/core/src/index.ts
  packages/core/tsconfig.tsbuildinfo
  packages/core/types/components.d.ts
  packages/core/types/components/ContextMenu/index.vue.d.ts
  packages/core/types/components/Monaco-Header/index.vue.d.ts
  packages/core/types/components/Monaco/index.vue.d.ts
  packages/core/types/hooks/index.d.ts
  packages/core/types/hooks/useContextMenu/editorMenu.d.ts
  packages/core/types/hooks/useContextMenu/index.d.ts
  packages/core/types/hooks/useMonacoEdit/index.d.ts
Due: prettier --write, npx oxlint --fix

docs: 优化 Monaco 组件文档和示例
  apps/docs/docs/api.md
  apps/docs/docs/examples.md
  apps/docs/docs/getting-started.md
  packages/core/src/hooks/useMonacoEdit/index.ts
Due: prettier --write, npx oxlint --fix

refactor(core): 优化右键菜单分隔符显示逻辑并更新相关故事
  packages/core/src/hooks/useContextMenu/editorMenu.ts
  packages/core/src/stories/Monaco/Monaco.stories.ts
  packages/core/src/stories/Monaco/examples/custom-edit.vue
Due: prettier --write, npx oxlint --fix

build(core): 更新项目版本号
  packages/core/package.json
  packages/core/tsconfig.tsbuildinfo
  packages/core/types/stories/Monaco/Monaco.stories.d.ts
Due: prettier --write, npx oxlint --fix

Update intro.md
  apps/docs/docs/intro.md
Due: prettier --write

feat(docs): 重构首页并添加国际化支持（英文文档暂时无法预览）
  apps/docs/docusaurus.config.ts
  apps/docs/i18n/en/code.json
  apps/docs/i18n/en/docusaurus-plugin-content-docs/current.json
  apps/docs/i18n/en/docusaurus-plugin-content-docs/current/api.md
  apps/docs/i18n/en/docusaurus-plugin-content-docs/current/examples.md
  apps/docs/i18n/en/docusaurus-plugin-content-docs/current/getting-started.md
  apps/docs/i18n/en/docusaurus-plugin-content-docs/current/intro.md
  apps/docs/i18n/en/docusaurus-theme-classic/footer.json
  apps/docs/i18n/en/docusaurus-theme-classic/navbar.json
  apps/docs/i18n/zh-Hans/docusaurus-plugin-content-blog/options.json
  apps/docs/i18n/zh-Hans/docusaurus-plugin-content-docs/current.json
  apps/docs/i18n/zh-Hans/docusaurus-plugin-content-pages/index.json
  apps/docs/src/components/HomepageFeatures/index.tsx
  apps/docs/src/pages/index.tsx
Due: prettier --write, npx oxlint --fix

docs: 更新网站标题和宣传语
  apps/docs/docusaurus.config.ts
  apps/docs/i18n/en/code.json
  apps/docs/i18n/zh-Hans/code.json
  apps/docs/src/pages/index.tsx
Due: prettier --write, npx oxlint --fix

docs(README): 更新组件文档
  README.md
  packages/core/README.md
Due: prettier --write

Create LICENSE
  LICENSE
Due: none

build(core): 更新项目版本号
  packages/core/package.json
Due: prettier --write

chore: 忽略 Markdown 文件的代码风格检查
  apps/docs/eslint.config.mjs
  packages/core/.oxlintrc.json
  packages/core/eslint.config.mjs
Due: prettier --write, npx oxlint --fix

feat(core): 优化 Monaco 编辑器样式并更新故事
  packages/core/src/components/Monaco/index.scss
  packages/core/src/stories/Monaco/Monaco.stories.ts
Due: prettier --write, npx oxlint --fix

style(core): 调整 Monaco 编辑器的样式
  packages/core/src/components/Monaco/index.scss
Due: none

refactor(docs): 更新 Monaco 组件的导入方式
  README.md
  apps/docs/docs/getting-started.md
  apps/docs/docs/intro.md
  apps/docs/i18n/en/docusaurus-plugin-content-docs/current/getting-started.md
  apps/docs/i18n/en/docusaurus-plugin-content-docs/current/intro.md
  packages/core/README.md
  packages/core/package.json
  packages/core/tsconfig.tsbuildinfo
  packages/core/types/stories/Monaco/Monaco.stories.d.ts
Due: prettier --write, npx oxlint --fix

style(core): 优化代码格式和导入顺序
  .vscode/settings.json
  packages/core/src/components.ts
  packages/core/src/components/ContextMenu/index.scss
  packages/core/src/components/ContextMenu/index.vue
  packages/core/src/components/Monaco-Header/index.scss
  packages/core/src/components/Monaco-Header/index.vue
  packages/core/src/components/Monaco/index.scss
  packages/core/src/components/Monaco/index.vue
  packages/core/src/hooks.ts
  packages/core/src/hooks/index.ts
  packages/core/src/hooks/useContextMenu/editorMenu.ts
  packages/core/src/hooks/useContextMenu/index.ts
  packages/core/src/hooks/useMonacoEdit/index.ts
  packages/core/src/index.ts
  packages/core/src/stories/Monaco/examples/custom-edit.vue
Due: prettier --write, npx oxlint --fix

feat(core): 优化 Monaco 编辑器样式和功能
  packages/core/src/components/Monaco/index.scss
  packages/core/src/components/Monaco/index.vue
  packages/core/src/hooks/useContextMenu/editorMenu.ts
  packages/core/src/hooks/useMonacoEdit/index.ts
Due: prettier --write, npx oxlint --fix

feat(core): 编辑器增加 minimap 功能和字体缩放功能
  packages/core/src/components/Monaco/index.vue
  packages/core/src/hooks/useContextMenu/editorMenu.ts
  packages/core/src/hooks/useMonacoEdit/index.ts
Due: prettier --write, npx oxlint --fix

feat(core): 增加玻璃主题的右键菜单并优化编辑器头部样式
  packages/core/src/components/ContextMenu/index.scss
  packages/core/src/components/ContextMenu/index.vue
  packages/core/src/components/Monaco-Header/index.scss
  packages/core/src/components/Monaco-Header/index.vue
  packages/core/src/components/Monaco/index.vue
  packages/core/src/hooks/useContextMenu/index.ts
Due: prettier --write, npx oxlint --fix

refactor(core): 优化右键菜单的样式和逻辑
  packages/core/src/components/ContextMenu/index.scss
  packages/core/src/hooks/useContextMenu/index.ts
Due: prettier --write, npx oxlint --fix

feat(core): 增加 Minimap 区域右键菜单支持并优化 API
  apps/docs/docs/api.md
  apps/docs/docs/intro.md
  apps/docs/i18n/en/docusaurus-plugin-content-docs/current/api.md
  apps/docs/i18n/en/docusaurus-plugin-content-docs/current/intro.md
  packages/core/src/components/ContextMenu/index.scss
  packages/core/types/hooks/index.d.ts
  packages/core/types/hooks/useMonacoEdit/index.d.ts
Due: prettier --write, npx oxlint --fix

build: 添加 lint-staged 配置
  .lintstagedrc
  package.json
  packages/core/tsconfig.tsbuildinfo
  packages/core/types/components.d.ts
  packages/core/types/components/ContextMenu/index.vue.d.ts
  packages/core/types/components/Monaco-Header/index.vue.d.ts
  packages/core/types/components/Monaco/index.vue.d.ts
  packages/core/types/hooks/useContextMenu/editorMenu.d.ts
  packages/core/types/hooks/useContextMenu/index.d.ts
  packages/core/types/hooks/useMonacoEdit/index.d.ts
  packages/core/types/index.d.ts
  pnpm-lock.yaml
Due: prettier --write, npx oxlint --fix

perf(core): 优化 Monaco 组件性能并添加卸载前清理逻辑
  apps/docs/docusaurus.config.ts
  apps/docs/static/img/favicon.ico
  apps/docs/static/img/logo.png
  packages/core/.storybook/manager.ts
  packages/core/package.json
  packages/core/src/components/Monaco/index.vue
  packages/core/storybook-public/favicon.ico
  packages/core/storybook-public/logo.png
  packages/core/storybook-public/logo.svg
  packages/core/tsconfig.tsbuildinfo
  packages/core/types/components/ContextMenu/index.vue.d.ts
  packages/core/types/components/Monaco-Header/index.vue.d.ts
  packages/core/types/components/Monaco/index.vue.d.ts
  packages/core/types/hooks/useContextMenu/editorMenu.d.ts
  packages/core/types/hooks/useContextMenu/index.d.ts
  packages/core/types/hooks/useMonacoEdit/index.d.ts
  packages/core/types/index.d.ts
Due: prettier --write, npx oxlint --fix

build(core): 升级项目版本号
  packages/core/package.json
Due: prettier --write

docs: 更新 logo 图片并优化 MonacoEditor 头部样式
  apps/docs/docusaurus.config.ts
  apps/docs/static/img/logo-best-mini.png
  apps/docs/static/img/logo-min.png
  packages/core/package.json
  packages/core/src/components/Monaco-Header/index.scss
Due: prettier --write, npx oxlint --fix

docs(core): 更新 Storybook 演示链接并优化类型定义
  .gitignore
  README.md
  apps/docs/docs/intro.md
  apps/docs/i18n/en/docusaurus-plugin-content-docs/current/intro.md
  packages/core/.storybook/manager.ts
  packages/core/README.md
  packages/core/package.json
  packages/core/storybook-public/logo-best-mini.png
Due: prettier --write, npx oxlint --fix

Path conditions:
  prettier --write: (any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx}) or (any of: **/*.{json,md,yml,yaml})
  npx oxlint --fix: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx}
